.math
  display: flex
  flex-direction: column
  gap: 0.5rem
  top: 36px
  left: 40px
  width: calc(100% - 80px)
  height: calc(100% - 200px)
  position: absolute
  & ul
    margin-left: 0.8rem
    font-size: 0.8rem
  & p 
    font-weight: 600
    font-size: 1rem
    text-align: right

.valorFinal
  display: flex
  width: 100%
  justify-content: space-between
  align-items: center
  font-size: 1rem
  font-weight: 600
  padding-bottom: 3rem