@use '../../app/variables'
    
.footer
    position: fixed
    bottom: 0
    right: 0
    width: 100vw
    padding-block: 0.025rem
    padding-right: 2rem
    color: variables.$tertiary-color
    text-align: right
    background: variables.$secondary-color